* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(73, 80, 80);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc {
  width: 420px;
  height: max-content;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;



}

button,
.bottom_num {
  width: 90px;
  height: 90px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(78, 78, 78);
  color: white;
  margin: 5px;
  border: none;


}

.bottom_num {
  width: 190px;
  margin-bottom: 10px;
  border-radius: 5px
}

button:active,
.bottom_num:active {
  background-color: gray;
}

.result {
  height: 100px;
  width: 420px;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.result {

  text-align: right;
  font-size: 50px;
  padding: 10px;

}

.blue_color {
  background-color: #207f97;
}

.orang_color {
  background-color: #e38021;
}

@media screen and (max-width: 420px) {
  .calc {
    width: 330px;
  }

  .result {
    width: 330px;
    height: 75px;
  }

  button,
  .bottom_num {
    height: 75px;
    width: 75px;
    margin: 3px;

  }

  .bottom_num {
    width: 155px;
    margin-bottom: 10px;

  }
}